body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    text-align: center;
}

header {
    background-color: #111;
    padding: 10px;
}

.welcome {
    padding-left: 20px;
    padding-right: 20px;
}

/* NavBar */

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:black;
    padding:15px 30px;
}

.navbar a{
    color:yellow;
    text-decoration:none;
    margin-right:20px;
    font-weight:bold;
}

.navbar a:hover{
    color:white;
}

.nav-right{
    position:relative;
}

/* Dropdown button */

.dropbtn{
    background:black;
    color:yellow;
    border:none;
    font-weight:bold;
    cursor:pointer;
}

/* Dropdown container */

.dropdown{
    position:relative;
    display:inline-block;
}

/* Dropdown menu */

.dropdown-content{
    display:none;
    position:absolute;
    right:0;
    background:#111;
    min-width:180px;
    box-shadow:0px 4px 8px rgba(0,0,0,0.5);
}

.dropdown-content a{
    display:block;
    padding:10px;
    color:yellow;
}

.dropdown-content a:hover{
    background:black;
}

/* Show dropdown */

.dropdown:hover .dropdown-content{
    display:block;
}

.logo {
    height: 50px;
    padding-right: 20px;
    text-align: center;
}

.logo h1 {
    text-align: center;
}

footer {
    background-color: #111;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
    position: fixed;
    bottom: 0;
}

/* Forms */

input {
    padding: 8px;
    width: 250px;
    background-color: #222;
    border: 1px solid yellow;
    color: white;
}

.meeting-option {
    al: center;
    display: flex;
    margin-bottom: 10px;
    
}

button {
    padding: 8px;
    background-color: yellow;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #ffcc00;
}

/* Rides */

.confirmed-riders li {
    list-style-type: none;
}

.meetin-points li {
    list-style-type: none;
}

/* resize for phone */

@media only screen and (max-width: 600px) {
    .main-img {
        width: 80%
    }

    .hero {
        font-size: 16px;
    }

    html {
        font-size: 10px;
    }
}