<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Wheels in the Sky</title>
</head>

<body>

<header>
    <!-- <div class="nav-container"> -->
    <nav class="navbar">
            
        <div class="nav-left">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('about') }}">About</a>
            <a href="{{ url_for('rides') }}">Rides</a>
            <a href="{{ url_for('contacts') }}">Contacts</a>
        </div>

        <div class="nav-right">

            {% if current_user.is_authenticated %}

            <div class="dropdown">
                <button class="dropbtn">
                    {{ current_user.username }} ▼
                </button>

                <div class="dropdown-content">

                    {% if current_user.role == "senior" %}
                        <a href="{{ url_for('create_ride') }}">Create Ride</a>
                        <a href="{{ url_for('approve_members') }}">Approve Members</a>
                        <hr>
                    {% endif %}

                    <a href="{{ url_for('logout') }}">Logout</a>

                </div>
            </div>

            {% else %}

                <a href="{{ url_for('login') }}">Login</a>
                <a href="{{ url_for('register') }}">Register</a>

            {% endif %}
        </div>


    </nav>
       
</header>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer>
    <p>© 2026 Romat Dev</p>
</footer>

</body>
</html>
