{% extends "base.html" %}

{% block content %}

<h2>Register</h2>

<form method="POST">
    <input type="text" name="username" placeholder="Username" required>
    <br><br>
    <input type="text" name="role" placeholder="Rank" required>
    <br><br>
    <input type="password" name="password" placeholder="Password" required>
    <br><br>
    <label for="chapter">Chapter</label>
    <select name="chapter" required>

        <option value="">Select Chapter</option>
        <option value="Vaal">Vaal</option>
        <option value="East Rand">East Rand</option>
        <option value="Mpumalanga">Mpumalanga</option>
        <option value="Pretoria">Pretoria</option>
    
    </select>
    
    <button type="submit">Register</button>
</form>

{% endblock %}